<h1>Bienvenidos a nuestra tienda de productos veganos!</h1>
<h2>Ventajas de una dieta vegana</h2>
<p>La planificación de este tipo de dieta es fundamental para evitar que, al seguirla de forma estricta, las
    personas tengan déficit de vitaminas D, B12, calcio y cinc.
    Las últimas investigaciones científicas han demostrado que siempre que estén bien estructuradas y
    planificadas, la alimentación vegana suele contener cantidades adecuadas de ácido fólico, magnesio, fibra,
    hierro y vitaminas como la C y la E. Además, esta alimentación se caracteriza por tener un índice de
    calorías menor y de otros nutrientes como el colesterol, los ácidos omega 3 y las grasas saturadas, así como
    de elementos importantes como la vitamina D, el calcio o la vitamina B12.</p>
<p>Por esta razón y muchas más te invitamos a que armes tu dieta vegana en nuestra página eligiendo los mejores
  productos, para mayor asesoramiento contactate con nosotres en la sección "contacto".
</p>
<div class="row">
    <div class="col-8">
      <app-vegan-list></app-vegan-list>
    </div>
    <div class="col-4">
      <app-vegan-diet></app-vegan-diet>
    </div>
</div>
