<h1>Para contactarte con nosotres llena el siguiente formulario:</h1>
<form>
    <div class="form-group">
      <label>Dirección de e-mail</label>
      <input type="email" class="form-control">
      <small class="form-text text-muted">Nosotres nunca compartiremos tu e-mail con alguien más.</small>
    </div>
    <div class="form-group">
      <label>Lo que nos quieras compartir: </label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
