<h2>Tabla de productos veganos: </h2>
<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td><img [src]="product.image" [alt]="product.name"></td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price|currency}}</td>
            <td><span class="badge badge-warning" *ngIf="product.stock==0">SIN STOCK</span></td>
            <td>
                <span *ngIf="product.stock>0">
                <button class="btn btn-secondary btn-sm" (click)="downQuantity(product)">-</button>
                <input class="smallInput" type="number" 
                    [(ngModel)]="product.quantity"
                    (keyup)="changeQuantity($event, product)">
                <button class="btn btn-secondary btn-sm" (click)="upQuantity(product)">+</button>
                </span>
            </td>
        </tr>
    </tbody>
</table>